# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace/
*.xcodeproj/

# Swift Package Manager
/.build
/Packages

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Archives
*.xcarchive

# User-specific files
*.swp
*.swo
*.orig
*.DS_Store

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Other
*.moved-aside
*.xcuserdatad

# Environment
.env

# App specific
*.plist~
